<!DOCTYPE html>
<html>
<body>

  <!-- flash message
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="alert alert-success text-center fade in">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        Anotação Salva com Sucesso!
      </div>
    </div>
  </div>
  <!-- /flash message -->
</body>
</html>
