.container-fluid
  .row
    .col-sm-2
      .panel.panel-default
        .panel-heading
          a.btn.btn-success.pull-right href="/"
            span.glyphicon.glyphicon-plus-sign
            = ' Nova Pasta'
          h2.panel-title
            |Pastas
            br
            br
        .panel-body
          ul.nav.nav-pills.nav-stacked
            - @folders.each do |f|
              li.active
                a href=""
                  span.glyphicon.glyphicon-book = " #{f.name}"
                  span.badge.pull-right = f.notes.length
    .col-sm-5
      .panel.panel-info
        .panel-heading
          a.btn.btn-success.pull-right href=new_folder_note_path(@folder)
            span.glyphicon.glyphicon-plus-sign
            = ' Nova Nota'
          h4
            = 'Minhas Anotaçoões '
            a.badge = @folder.notes.length

        .list-group
          - @folder.notes.each do |note|
            a.list-group-item href=edit_folder_note_path(@folder, note)
              = note
              span.badge
                = note.updated_at
    .col-sm-5
      .well.well-sm
        = form_for [@folder, @note] do |f|
          .field
            = f.label :titulo
            br
            = f.text_field :titulo, class: 'form-control input-lg', autofocus: '', required: true
            br
            = f.label :texto
            br
            = f.text_area :texto, class: 'form-control input-lg',  required: true
            br
            .class.actions
              = f.submit 'Salvar', class: 'btn btn-lg btn-primary pull-right'
            - unless @note.new_record?
              .actions
                a.btn.btn-danger.btn-lg data-confirm=("Tem Certeza Que Deseja Excluir a Nota #{@note.titulo} ?") data-method="delete" href=(note_path @note)
                  | Excluir
            br
            br
            br